body {
    font-family: 'Open Sans', sans-serif;
    color: #201e1f;
}

.top-banner {
    padding: 180px 60px 220px;
    min-height: 80vh;
    background-image: url('./assets/img/background-top.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

nav.bg-transition {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.banner-title {
    margin-top: 40px;
    font-size: 46px;
    color: #e6e7eb;
    padding: 20px 0;
}

.banner-btn {
    border: 1px solid #e6e7eb;
    background: none;
    border-radius: 0;
    text-transform: uppercase;
}

.header .title {
    text-transform: uppercase;
    font-size: 32px;
    padding: 20px 0 40px;
    color: #09372b;
}

.about {
    padding: 60px 0 100px;
    background-color: #e6e7eb;
}


.contact {
    background-color: #739d90;
    padding: 60px 0 100px;
}

.footer {
    padding: 80px 0 90px;
    color: #e6e7eb;  
    background: rgb(11,79,71); 
}